    body { 
    font-family: arial;
    text-align: center;
    background-image: url(joulu4.png); 
}
    h1 {
    font-family:  "Verdana";
    font-size: 35px;
    color: #008854;
    text-shadow: 2px 2px #013220;
    text-align: center;
    padding-top: 30px;
}
  .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    max-width: 1000px;
    margin: 20px auto;
    position: relative;
  }
  .box {
    padding: 50px; 
    background: #c62828;
    color: white;
    cursor: pointer;
    font-size: 40px;
  }
  .locked {
    background: gray;
    cursor: not-allowed;
  }
  #modal {
    position: fixed; top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    display: none; justify-content: center; align-items: center;
  }
  #modal img {
    max-width: 80%;
    background: white;
    padding: 10px;
    border-radius: 5px;
  }